/* Resetowanie podstawowych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    min-height: 100vh;
}

/* Style dla linków */
a {
    text-decoration: none;
    color: inherit;
}

/* Przyciski globalne */
button {
    cursor: pointer;
}

ul {
    list-style: none;
}