.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f4f8;
}

h1 {
    font-size: 3rem;
    color: #333;
}

p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #666;
}

.home-buttons {
    margin-top: 30px;
}

.btn {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #0056b3;
}